<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
<title>ShopAll</title>
</head>
<body>
	<div th:replace="~{base :: logo}"></div>
	
	
	<div class="container pt-2">
	<div class="pt-2"><h2>Nossos Produtos:</h2></div>
	
	<div class="pt-2"><h4>Filtrar Tabela</h4></div>
	
	<div>	
		<a th:classappend="${categoria} == null ? 'active'" class="btn btn-outline-primary nav-item" th:href="@{/catalogo}">Todas as Categorias</a>
		<a th:classappend="${categoria} == Eletrônicos ? 'active'" class="btn btn-outline-primary nav-item" th:href="@{/catalogo/Eletrônicos}">Eletrônicos</a>
		<a th:classappend="${categoria} == Eletrodomésticos ? 'active'" class="btn btn-outline-primary nav-item" th:href="@{/catalogo/Eletrodomésticos}">Eletrodomésticos</a>
		<a th:classappend="${categoria} == Móveis ? 'active'" class="btn btn-outline-primary nav-item" th:href="@{/catalogo/Móveis}">Móveis</a>
	</div>
	
	<table class="table">
  		<thead>
    		<tr>
    			<th scope="col">Código do Produto</th>
      			<th scope="col">Nome</th>
      			<th scope="col">Valor</th>
      			<th scope="col">Descrição</th>
      			<th scope="col">Categoria</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr th:each="produtos : ${produtos}">
    			<td style="text-align: center" th:text="${produtos.codigo}">Código do Produto</td>
      			<td th:text="${produtos.nomeProduto}">Nome</td>
      			<td th:text="${produtos.valorProduto} + ${' R$'}">Valor</td>
    		 	<td th:text="${produtos.descricao}">Descrição</td>
      			<td th:text="${produtos.categoria}">Categoria</td>
    		</tr>
  		</tbody>
	</table>
	</div>
	<div th:replace="~{base :: rodape}"></div>
</body>
</html>