<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
<title>ShopAll</title>
</head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container pt-2">
	<h1>Bem vindo ao Site de Gerenciamento de Pedidos da ShopAll!</h1>
	<h4>Selecione uma opção acima no nosso Menu para continuar! </h4>
	</div>
	
	<div class="container pt-5">
		<h4 style="text-align: center">Sobre a Empresa</h4>
		<p class="h5" style="text-align: center">
		Criada em 2021, viemos com a missão de atender o mercado eletrônico nesse tempo tão difícil 
		que estamos vivendo, com agilidade, responsabilidade e paixão por oferecer sempre o melhor aos nossos clientes!
		</p>
	</div>
	<div th:replace="~{base :: rodape}"></div>
</body>
</html>