
server:
  port: 8081

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  datasource:
    password: root
    username: root
    url: jdbc:mysql://localhost:3306/transportadora
  jpa:
    hibernate:
      ddl-auto: update
  application:
    name: Transportadora
    
  flyway:
    url: jdbc:mysql://localhost:3306/
    schemas:
    - transportadora
    user: root
    password: root
    baseline-on-migrate: true