
server:
  port: 8080
  
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  datasource:
    password: 1298
    username: root
    url: jdbc:mysql://localhost:3306/loja
  jpa:
    hibernate:
      ddl-auto: update
  application:
    name: Loja
    
  flyway:
    url: jdbc:mysql://localhost:3306/
    schemas:
    - loja
    user: root
    password: 1298
    baseline-on-migrate: true